span{
    color: blue;
}

.red{
    color: red;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    width: auto;
    height: auto;
    margin-bottom: -16px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    border: 10px solid blue;
    background-color: rgb(255, 128, 128);
    box-sizing: border-box;
}

ul{
    width: 500;
    height: auto;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    background-color: yellow;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}