span{
    color: blue;
}

.red{
    color: red;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    font-weight: 1000;
    width: 500;
    height: auto;
    text-align: center;
    padding: auto;
    margin-bottom: -15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgb(255, 128, 128);
    box-sizing: border-box;
}

ul{
    width: 500;
    height: auto;
    text-align: center;
    background-color: yellow;
}