.blue{
    color: blue;
}

span{
    color: yellow;
}

h1{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 50px;
    height: auto;
    width: auto;
    background-color: black;
    text-align: center;
    padding: 20px;
    border: 10px solid gray;
}

a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    text-align: center;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.Prep{
    box-sizing: border-box;
    width: 400px;
    height: 180px;
    list-style-type: none;
    text-align: center;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    padding-left: 10px;
    border: 20px solid rgb(89, 89, 254);
}

ul{
    list-style-type: none;
    height: 350px;
    width: 425px;
    padding-top: 70px;
}

ol{
    height: 450px;
    width: 450px;
    padding-top: px;
    padding-top: 50px;
} 

ol,
ul{
    border: 10px solid;
    background-color: blueviolet;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
}