h1{
    text-align: center;
    background-color: yellow;
    margin-bottom: -15px;
}

p{
    margin-bottom: 5px;
    text-align: center;
}

img{
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

span{
    color: red;
}

.green{
    color: green;
}

.returing{
    margin-bottom: -15px;
}

#Prep{
    
}
