h1{
    box-sizing: border-box;
    width: auto;
    height: 100px;
    text-align: center;
    background-color: yellow;
    margin-bottom: -15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid black;
    font-family: Tahoma, 'sans-serif';
    font-size: 40px;
}

h2{
    font-family: 'Trebuchet MS', 'sans-serif';
    font-size: 30px;
}

p{
    margin-bottom: 5px;
    text-align: center;
}

img{
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

span{
    color: red;
}

.green{
    color: green;
}

.returing{
    margin-bottom: -15px;
    text-align: start;
    font-family: 'Trebuchet MS', 'sans-serif';
}

#Prep{
    box-sizing: border-box;
    margin-bottom: auto;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: auto;
    border: 10px solid salmon;
    color: white;
    background-color: black;
}

ul,
ol{
    border: 10px solid green;
    text-align: start;
    color: gray;
    background-color: black;
    box-sizing: border-box;
    margin-bottom: auto;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: auto;
    background-color: black;
}

.highlight{
    color: black;
    background-color: white;
}