#homepage{
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: -20px;
}

h1{
    font-size: 45px;
    box-sizing: border-box;
    height: 130px;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    background-color: gray;
    border: 20px solid darkgray;
    margin-left: auto;
    margin-right: auto;
}

#black{
    color: black;
}

span{
    color:white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
}

p{
    text-align: center;
}

#Prep{
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type:none;
    font-weight: bolder;
    color: white;
    background-color: black;
    border: 10px solid blueviolet;
}

#Prep li{
    margin-top: 10px;
}

.ul{
    background-color: rgb(245, 232, 117);
    font-size: 25px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 10px solid black;
}

h2{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.highlight{
    color: black;
    background-color: white;
}